@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #333;
    word-break: break-word;
    -webkit-font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
    /*カーニング*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    color: #333;
}

a:hover {
    -webkit-text-decoration: underline #333;
    text-decoration: underline #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/*---------------リセット---------------*/

/*---------------スクロール---------------*/

.effect-fade {
    opacity: 0;
    transition: all 600ms;
}

.effect-fade.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}

/*---------------スクロール---------------*/

/*---------------gird---------------*/

.grid {
    /*max-width: 767px;*/
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    display: -ms-grid;
    grid-template:
        "header" 100px
        "main  " 1fr
        "footer" 300px;
}

.container {
    max-width: 727px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.l-concept,
.l-measures,
.l-info,
.l-staff,
.l-access {
    padding-bottom: 100px;
    width: 100%;
}

.l-header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #d2b48c;
    z-index: 5;
}

main {
    grid-area: main;
    display: grid;
    display: -ms-grid;
    grid-template:
        "img     "
        "concept "
        "measures"
        "info    "
        "staff   "
        "access  ";
}

.l-top__img {
    grid-area: img;
}

.l-concept__grid {
    grid-area: concept;
}

.l-measures {
    grid-area: measures;
}

.l-info {
    grid-area: info;
}

.l-staff__grid {
    grid-area: staff;
}

.l-access__grid {
    grid-area: access;
}

.l-footer {
    grid-area: footer;
    background: #d2b48c;
    width: 100%;
}

/*---------------gird---------------*/

/*---------------common---------------*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    line-height: 0px;
    font-size: 0px;
}

a {
    color: #000;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    border-bottom: 0.5px solid #333;
}

.section__title {
    font-family: "Amiri", serif;
    font-size: 3.4rem;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.section__title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333;
    content: "";
}

.btn__contact {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
    background: #555;
    position: relative;
    border-radius: 20px;
    display: inline-block;
    margin-right: 20px;
}

.btn__contact a {
    font-family: "Century Gothic", sans-serif;
    display: inline-block;
    padding-left: 5px;
    color: #fff;
}

.btn__contact a::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn__contact a:hover {
    text-decoration: none;
    opacity: 0.8;
    border: none;
}

.fa-envelope {
    color: #fff;
    height: 25px;
    line-height: 25px;
}

/*---------------common---------------*/

/*---------------ハンバーガー---------------*/

#menu {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    display: block;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.8s;
}

body.menu-open #menu {
    visibility: visible;
    opacity: 1;
}

body.menu-open .nav__open {
    display: none;
}

.header__nav--sm {
    text-align: center;
    font-size: 2.4rem;
    font-family: serif;
    margin-top: 100px;
}

.header__nav--sm li + li {
    margin-top: 25px;
}

.header__nav--sm a {
    color: #fff;
}

.header__nav--sm a:hover {
    border-bottom: 1px solid #fff;
}

/*---------------ハンバーガー---------------*/

/*---------------header---------------*/

.header__wap {
    width: 100%;
    height: 100px;
    position: relative;
}

.p-logo {
    max-width: 250px;
    width: 100%;
    float: left;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.nav__open,
.nav__close {
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#open,
#close {
    font-size: 5rem;
}

.nav__open p {
    font-size: 1.4rem;
    margin-top: -6px;
}

.header__nav {
    display: none;
    float: right;
}

#close {
    color: #fff;
}

/*---------------header---------------*/

/*---------------top-img---------------*/

.top-img {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*---------------top-img---------------*/

/*---------------concept---------------*/

.l-concept {
    background-image: url(../img/concept__bg-sm.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
}

.concept__textarea {
    margin-bottom: 100px;
    display: block;
}

.concept__title {
    font-family: "Amiri", serif;
    font-size: 3.4rem;
    font-weight: normal;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.concept__text01 {
    font-size: 2.4rem;
    margin-bottom: 40px;
}

.concept__text02,
.concept__text03 {
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;
}

.concept__text03 {
    margin-top: 20px;
}

.concept__img {
    position: relative;
    display: block;
}

.concept__img img {
    box-shadow: 0 2px 4px #a0a0a0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.img__bg {
    background-color: rgba(222, 184, 135, 0.8);
    max-width: 767px;
    width: 100%;
    height: 300px;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -1;
}

.bg_text {
    color: rgba(255, 255, 255, 0.4);
    font-size: 6rem;
    writing-mode: vertical-rl;
    position: absolute;
    top: 50%;
    right: -2%;
    transform: translateY(-50%);
}

/*---------------concept---------------*/

/*---------------measures---------------*/

.measures__item {
    position: relative;
}

.measures__item img {
    max-width: 400px;
    width: 100%;
}

.measures__item + .measures__item {
    margin-top: 80px;
}

.measures__intro {
    margin: 0 auto 40px;
    max-width: 600px;
    width: 100%;
    text-align: left;
}

.measures__text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    max-width: 340px;
    width: 85%;
    padding: 0 20px;
}

/*---------------measures---------------*/

/*---------------information---------------*/

.info__list {
    margin: 0 auto;
    color: #000;
    padding-bottom: 50px;
}

.info__list li {
    display: flex;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 10px;
}

.info__news {
    margin-left: 15px;
    position: relative;
}

.info__news a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333;
    content: "";
}

.info__news a:hover {
    text-decoration: none;
    border: none;
    opacity: 0.7;
}

.info__btn {
    width: 160px;
    height: 55px;
    line-height: 55px;
    border: 1px solid #333;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
}

.info__btn a:hover {
    text-decoration: none;
    color: #555;
}

/*---------------information---------------*/

/*---------------staff---------------*/

.l-staff {
    background-color: rgba(222, 184, 135, 0.6);
}

.staff__box {
    max-width: 400px;
    width: 100%;
    height: 620px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 6px #c0c0c0;
    line-height: 1.3;
}

.staff__box + .staff__box {
    margin-top: 50px;
}

.staff__img {
    padding: 20px 20px 30px;
}

.staff__name {
    font-size: 2rem;
    padding-bottom: 15px;
}

.staff__text {
    text-align: left;
    margin: 0 20px;
}

/*---------------staff---------------*/

/*---------------access---------------*/

.access__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.access__textarea {
    max-width: 500px;
    width: 100%;
    background: #e0e0e0;
    padding: 30px 40px 40px;
    margin: 0 auto 50px;
    box-sizing: border-box;
}

.access__textarea h3 {
    font-size: 2.4rem;
    font-weight: normal;
    font-family: "Amiri", serif;
    margin-bottom: 25px;
}

.access__text--left {
    width: 35%;
    text-align: left;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.access__text--right {
    width: 65%;
    text-align: left;
    margin-bottom: 15px;
}

.access__btn {
    width: 200px;
    height: 38px;
    line-height: 38px;
    font-size: 1.4rem;
    background: #888;
}

.access__btn a {
    padding-left: 10px;
}

/*---------------access---------------*/

/*---------------footer---------------*/

.footer__wap {
    text-align: center;
    width: 100%;
}

.footer__title {
    font-size: 1.8rem;
    padding-bottom: 5px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.sns__list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sns__list li {
    max-width: 50px;
}

.sns__list li + li {
    margin-left: 15px;
}

.sns__list a:hover {
    border: none;
}

.f-nav__link {
    font-family: "Amiri", serif;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.f-nav__link + .f-nav__link {
    margin-left: 10px;
    border-left: 1px solid #888;
    padding-left: 10px;
}

.footer__btn {
    display: block;
    margin: 0 auto 30px;
    width: 110px;
    height: 25px;
    line-height: 25px;
    font-size: 1.4rem;
    background: #333;
    position: relative;
}

.footer__btn a {
    font-family: "Segoe UI", sans-serif;
    padding-left: 5px;
    color: #fff;
    display: inline-block;
}

.footer__btn a::after {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__btn a:hover {
    text-decoration: none;
    opacity: 0.8;
    border: none;
}

.fa-envelope {
    color: #fff;
    height: 25px;
    line-height: 25px;
}

.f__copy {
    font-size: 0.8rem;
}

/*---------------footer---------------*/

/*---------------レスポンシブ---------------*/

@media screen and (min-width: 768px) {
    .grid {
        /*max-width: 1280px;*/
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        display: grid;
        display: -ms-grid;
        grid-template:
            "header" 50px
            "main  " 1fr
            "footer" 230px;
    }

    main {
        margin: 0 auto;
        grid-area: main;
        display: grid;
        display: -ms-grid;
        grid-template:
            "img     "
            "concept "
            "measures"
            "info    "
            "staff   "
            "access  ";
    }
    /*---------grid----------*/
    /*---------common----------*/

    .container {
        max-width: 1080px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin: 0 auto;
    }

    /*---------common----------*/
    /*---------nav----------*/

    .l-header,
    .header__wap {
        height: 50px;
    }

    .p-logo {
        max-width: 150px;
        width: 100%;
    }

    #menu {
        display: none;
    }

    .nav__open {
        display: none;
    }

    .header__nav {
        font-family: "Amiri", serif;
        display: block;
        align-items: center;
        font-size: 1.8rem;
        position: relative;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .header__nav li {
        display: inline-block;
    }

    .header__nav li + li {
        margin-left: 40px;
    }

    /*---------nav----------*/
    /*---------top-img----------*/

    .top-img {
        /*max-width: 1280px;
        width: 100%;*/
        max-height: 700px;
        margin: 0 auto;
        padding: 0;
    }

    /*---------top-img----------*/
    /*---------concept----------*/

    .l-concept {
        background-image: url(../img/concept__bg.png);
        max-width: 1280px;
        width: 100%;
        height: 100%;
    }

    .l-concept__grid {
        grid-area: concept;
        max-width: 1280px;
        display: grid;
        display: -ms-grid;
        grid-template:
            "c-text c-img" 700px
            /52% 48%;
        position: relative;
    }

    .concept__textarea {
        grid-area: c-text;
        text-align: left;
        margin-right: 6.52%;
        margin-left: 13.04%;
    }

    .concept__text02,
    .concept__text03 {
        margin-right: 0;
        margin-left: 0;
    }

    .concept__img {
        grid-area: c-img;
    }

    .concept__img img {
        position: absolute;
        width: 450px;
        top: 0;
        bottom: 0;
        right: 26.08%;
        /*margin: auto;*/
    }

    .img__bg {
        background-color: rgba(222, 184, 135, 0.6);
        position: absolute;
        max-width: 500px;
        top: 100px;
        right: 0;
        display: block;
        overflow: hidden;
        z-index: -1;
    }

    .bg_text {
        color: rgba(255, 255, 255, 0.4);
        font-size: 10rem;
        writing-mode: vertical-rl;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
    }

    /*---------concept----------*/
    /*---------measures----------*/

    .l-measures {
        padding-bottom: 50px;
    }

    .measures__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    .measures__list:after {
        content: "";
        display: block;
        width: 300px;
        height: 0;
    }

    .measures__item img {
        max-width: 300px;
        width: 100%;
        margin-bottom: 50px;
    }

    .measures__item + .measures__item {
        margin-top: 0;
    }

    .measures__text {
        position: absolute;
        top: 210px;
        max-width: 250px;
        padding-right: 25px;
        padding-left: 25px;
    }

    /*---------measures----------*/
    /*---------info----------*/

    .info__list li {
        max-width: 500px;
        width: 100%;
    }

    /*---------info----------*/
    /*---------staff----------*/

    .l-staff {
        background-color: #fff;
        background-image: url(../img/木目bg.jpg);
    }

    .l-staff__grid {
        grid-area: staff;
        /* display: grid;
        display: -ms-grid;
        gap: 11.73%;
        grid-template: 
        "staff01 staff02 staff03" 
        /1fr 1fr 1fr;*/
        display: flex;
    }

    .staff__title {
        color: #fff;
        text-shadow: 1px 1px 5px #333;
    }

    .staff__title::after {
        background: #fff;
    }

    .staff__box {
        height: 450px;
        background: #fff;
        margin: 0 40px;
        box-shadow: 0 0 6px #c0c0c0;
    }

    .staff__box01 {
        grid-area: staff01;
    }

    .staff__box02 {
        grid-area: staff02;
    }

    .staff__box03 {
        grid-area: staff03;
    }

    .staff__box + .staff__box {
        margin-top: 0;
    }

    .staff__name {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .staff__text {
        text-align: left;
        margin: 0 20px;
    }

    /*---------staff----------*/
    /*---------access----------*/

    .l-access__grid {
        grid-area: access;
        display: grid;
        display: -ms-grid;
        grid-template: "a-text a-map";
        max-width: 1080px;
        box-sizing: border-box;
    }

    .access__textarea {
        grid-area: a-text;
        padding: 30px 50px 40px;
        margin: 0 auto;
        background: #fff;
        margin: 0;
    }

    .access__map {
        grid-area: a-map;
        width: 500px;
    }

    /*---------access----------*/
    /*---------footer----------*/

    .footer__title {
        font-size: 2.4rem;
        margin-bottom: 15px;
    }

    .sns__list {
        margin-bottom: 15px;
    }

    .sns__list li {
        max-width: 40px;
    }

    .sns__list li + li {
        margin-left: 20px;
    }

    .footer__nav {
        font-size: 1.2rem;
    }

    .f-nav__link {
        margin-bottom: 25px;
    }

    .footer__btn {
        display: inline-block;
        margin-left: 10px;
    }

    .f__copy {
        font-size: 1rem;
    }
}

/*-------------------------------------
              Menuページ
-------------------------------------*/

.menu__list {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
}

.menu__item {
    margin-bottom: 70px;
}

.menu__item h3 {
    font-size: 2.4rem;
    font-family: "Libre Baskerville", serif;
    text-align: left;
    margin: 0 auto 20px;
    padding-left: 10px;
    border-left: 3px solid #333;
    border-bottom: 1px solid #555;
    max-width: 600px;
    width: 100%;
}

.menu__detail {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
}

.menu__detail p {
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    .menu__item {
        max-width: 1080px;
        width: 100%;
    }

    .menu__detail {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        box-sizing: border-box;
    }

    .menu__item h3 {
        max-width: 1080px;
        width: 100%;
        display: block;
    }
}

/*-------------------------------------
              Styleページ
-------------------------------------*/

.l-style {
    padding-bottom: 100px;
}

.style__list {
    margin-top: 50px;
}

.style__item + .style__item {
    margin-top: 100px;
}

.style__item p {
    font-size: 2.4rem;
    font-family: "Libre Baskerville", serif;
}

@media screen and (min-width: 768px) {
    .style__wrap {
        min-height: 100vh;
    }

    .style__list {
        display: flex;
        justify-content: space-between;
        text-align: left;
        position: relative;
        max-width: 1080px;
        width: 100%;
        min-height: 560px;
    }

    .style__item + .style__item {
        margin-top: 0;
        margin-left: 26px;
    }

    .style__item {
        max-width: 250px;
        max-height: 345px;
    }

    .item__02 {
        padding-top: 185px;
        position: relative;
    }

    .item__02 p {
        position: absolute;
        top: 150px;
    }

    .item__03 {
        padding-top: 40px;
    }

    .item__04 {
        padding-top: 110px;
        position: relative;
    }

    .item__04 p {
        position: absolute;
        top: 75px;
    }
}

/*-------------------------------------
              Contactページ
-------------------------------------*/

.l-contact {
    padding-bottom: 100px;
}

.contact__intro {
    text-align: left;
    margin: 0 65px 50px;
}

form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

label,
.inquiry__text {
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-size: 1.6rem;
}

.inquiry__text {
    font-size: 1.2rem;
}

input,
textarea {
    display: block;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Sawarabi Mincho", "Segoe UI", sans-serif;
}

form div + div {
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #555;
    padding: 5px;
    outline: none;
}

textarea {
    height: 150px;
}

.inquiry__btn {
    width: 100px;
    height: 40px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 50px auto 0;
}

@media screen and (min-width: 768px) {
    label,
    .inquiry__box {
        display: inline-block;
        width: 160px;
        text-align: left;
    }

    .inquiry__box {
        max-height: 200px;
        height: 100%;
        vertical-align: top;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        margin-left: 30px;
        display: inline-block;
        max-width: 400px;
        width: 100%;
    }

    textarea {
        height: 200px;
        resize: none;
    }
}

/*-------------------------------------
              Recruitページ
-------------------------------------*/

.l-recruit {
    padding-bottom: 100px;
}

.recruit__wrap {
    text-align: left;
}

.recruit__list {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.recruit__list dt {
    display: inline-block;
    text-align: left;
    max-width: 225px;
    width: 100%;
    font-size: 1.6rem;
}

.recruit__list dd {
    display: inline-block;
    margin-bottom: 20px;
}

.recruit__text01,
.recruit__text02 {
    margin-right: 80px;
    margin-left: 80px;
}

.recruit__text01 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.recruit__text02 {
    margin-bottom: 70px;
}

.recruit__text03 {
    text-align: center;
}

.recruit__btn {
    width: 155px;
    height: 35px;
    line-height: 35px;
    background: #555;
    position: relative;
    border-radius: 20px;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-left: 15px;
    margin: 25px auto 0;
}

.recruit__btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    border: none;
}

.recruit__btn a:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .recruit__list {
        max-width: 300px;
        width: 100%;
        margin-left: 200px;
        margin-bottom: 60px;
    }

    .recruit__list dt {
        max-width: 150px;
    }

    .recruit__btn {
        width: 140px;
        font-size: 1.6rem;
        padding-right: 0;
        padding-left: 15px;
    }

    .recruit__btn a {
        padding-left: 10px;
    }
}

.delate-area {
    position: absolute;
    left: -9999px;
}
